<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${enseignant.nom} + ' ' + ${enseignant.prenom}"></title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

    <div class="list-group mx-auto w-25 p-3">
        <button type="button" class="list-group-item list-group-item-action " th:text="${enseignantDetail.numeroEnseignant}"></button>
        <button type="button" class="list-group-item list-group-item-action list-group-item-light" th:text="${enseignantDetail.nom}"></button>
        <button type="button" class="list-group-item list-group-item-action " th:text="${enseignantDetail.prenom}"></button>
        <button type="button" class="list-group-item list-group-item-action list-group-item-light" th:text="${enseignantDetail.dateNaissance}"></button>
        <button type="button" class="list-group-item list-group-item-action " th:text="${enseignantDetail.sexe}"></button>
        <button type="button" class="list-group-item list-group-item-action list-group-item-light" th:text="${enseignantDetail.grade}"></button>
        <button type="button" class="list-group-item list-group-item-action " th:text="${enseignantDetail.dateEmbauche}"></button>
        <a th:href="@{/matiere}" class="list-group-item list-group-item-action list-group-item-light" role="button"><i class="fa fa-reply">  Retour liste matiere</i></a>
    </div>

</body>
</html>