<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>note</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <table class="table table-hover w-50 mx-auto">
        <thead>
        <tr>
            <th scope="col">Etudiant</th>
            <th scope="col">Note</th>
            <th scope="col">Matiere</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="etudiantNote:${etudiant.notes}">
            <td scope="row" th:text="${etudiantNote.etudiant.nom} + ' ' + ${etudiantNote.etudiant.prenom}"></td>
            <td th:text="${etudiantNote.noteValue}"></td>
            <td th:text="${etudiantNote.matiere.nom}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>