<html xmlns:th="http://www.w3.org/1999/xhtml">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="border-bottom: 1px white solid">
        <a class="navbar-brand active" href="#">Universite</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/enseignant}"><i class="fa fa-user-tie">  Enseignant</i></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/etudiant}"><i class="fa fa-user">  Etudiant</i></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/matiere}"><i class="fa fa-object-group">  Matiere</i></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/note}"><i class="fa fa-plus">  Note</i></a>
                </li>
            </ul>
        </div>
    </nav>
</html>
